@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
.leaflet-container { height: 100%; width: 100%; }
.map-label { text-shadow: 0 0 2px #000, 0 0 4px #000, 1px 1px 2px #000; white-space: nowrap; }
.map-label-major { z-index: 9999 !important;}
.shared-tooltip { width: max-content; max-width: none; }
svg { outline: none;}

.victory-count {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4), 0 0 4px rgba(0, 0, 0, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4);
}
/* Icon sprite optimization */
.icon-sprite-marker {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
.icon-sprite-marker > div {
  will-change: transform;
}

svg .hexCasualtyVisual {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0;
  }
  30%,
  70% {
    opacity: 1;
  }
}